<div class="d-flex justify-content-center" style="font-family: 'Sora', sans-serif">
  <div class="col-8">
    <form name="editForm" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="jhi-check-list-heading"
        data-cy="CheckListCreateUpdateHeading"
        jhiTranslate="stockProjectApp.checkList.home.createOrEditLabelExtend"
        style="color: #013366"
      >
        Check Liste Maintenance Préventive
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        @if (editForm.controls.id.value !== null) {
          <div class="mb-3">
            <label class="form-label" for="field_id" jhiTranslate="stockProjectApp.checkList.id">ID</label>
            <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
          </div>
        }

        <div class="col-4">
          <input
            type="text"
            class="form-control buttomMaintenance"
            name="client"
            id="field_client"
            data-cy="client"
            formControlName="client"
            placeholder="client"
          />
        </div>

        <div class="row">
          <input
            type="text"
            class="form-control buttomMaintenance col"
            name="contractNumber"
            id="field_contractNumber"
            data-cy="contractNumber"
            formControlName="contractNumber"
            placeholder="contact number"
          />
          <input
            type="text"
            class="form-control buttomMaintenance col"
            name="adress"
            id="field_adress"
            data-cy="adress"
            formControlName="adress"
            placeholder="Adress"
          />
        </div>

        <div class="row">
          <input
            type="text"
            class="form-control col buttomMaintenance"
            name="technicienDef"
            id="field_technicienDef"
            data-cy="technicienDef"
            formControlName="technicienDef"
            placeholder="Technicien Def"
          />

          <div class="col">
            <div class="d-flex">
              <input
                id="field_date"
                data-cy="date"
                type="datetime-local"
                class="form-control buttomMaintenance"
                name="date"
                formControlName="date"
                placeholder="YYYY-MM-DD HH:mm"
              />
            </div>
          </div>
        </div>
        <div style="margin-top: 15px">
          <table class="table-bordered mb-3" style="width: -moz-available">
            <thead class="text-center">
              <tr>
                <th>Taches à effectuer</th>
                <th>Status</th>
                <th>Commentaire</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td colspan="3" style="text-align: center">Système de détection incendie (SDI)</td>
              </tr>
              <tr>
                <td>
                  <p class="fw-bold text-decoration-underline">Tableau de détection incendie 100% à chaque visite:<br /></p>
                  <ul>
                    <li>Contrôle des tensions élémentaires et des protections</li>
                    <li>Contrôle des connexions</li>
                    <li>Contrôle de la 3ème source</li>
                    <li>Contrôle des fonctions d’exploitation</li>
                    <li>Contrôle de la charge des batteries</li>
                  </ul>
                </td>
                <td>
                  <select
                    class="form-control"
                    name="tableDetectionTaskStatus"
                    formControlName="tableDetectionTaskStatus"
                    id="field_tableDetectionTaskStatus"
                    data-cy="tableDetectionTaskStatus"
                  >
                    <option [ngValue]="null">{{ 'stockProjectApp.TaskStatus.null' | translate }}</option>
                    @for (taskStatus of taskStatusValues; track $index) {
                      <option [value]="taskStatus">{{ 'stockProjectApp.TaskStatus.' + taskStatus | translate }}</option>
                    }
                  </select>
                </td>
                <td>
                  <textarea
                    class="form-control"
                    name="tableDetectionComment"
                    id="field_tableDetectionComment"
                    data-cy="tableDetectionComment"
                    formControlName="tableDetectionComment"
                  ></textarea>
                </td>
              </tr>
              <tr>
                <td>
                  <p class="fw-bold text-decoration-underline">Boucles (DI/DM) 100% à chaque visite :<br /></p>
                  <ul>
                    <li>Contrôle de l’état des lignes des détecteurs par OCT.</li>
                    <li>Essai sur le dérangement de chaque boucle en <br />débranchant successivement un détecteur, un fil</li>
                  </ul>
                </td>
                <td>
                  <select
                    class="form-control"
                    name="diDMTaskStatus"
                    formControlName="diDMTaskStatus"
                    id="field_diDMTaskStatus"
                    data-cy="diDMTaskStatus"
                  >
                    <option [ngValue]="null">{{ 'stockProjectApp.TaskStatus.null' | translate }}</option>
                    @for (taskStatus of taskStatusValues; track $index) {
                      <option [value]="taskStatus">{{ 'stockProjectApp.TaskStatus.' + taskStatus | translate }}</option>
                    }
                  </select>
                </td>
                <td>
                  <textarea
                    class="form-control"
                    name="diDMComment"
                    id="field_diDMComment"
                    data-cy="diDMComment"
                    formControlName="diDMComment"
                  ></textarea>
                </td>
              </tr>
              <tr>
                <td>
                  <p class="fw-bold text-decoration-underline">Détecteurs ponctuels : (50% de chaque zone à chaque visite).<br /></p>
                  <ul>
                    <li>Essais sur les lignes avec un générateur adapté (bombe aérosol …)</li>
                  </ul>
                </td>
                <td>
                  <select
                    class="form-control"
                    name="detecteursPonctuelsTaskStatus"
                    formControlName="detecteursPonctuelsTaskStatus"
                    id="field_detecteursPonctuelsTaskStatus"
                    data-cy="detecteursPonctuelsTaskStatus"
                  >
                    <option [ngValue]="null">{{ 'stockProjectApp.TaskStatus.null' | translate }}</option>
                    @for (taskStatus of taskStatusValues; track $index) {
                      <option [value]="taskStatus">{{ 'stockProjectApp.TaskStatus.' + taskStatus | translate }}</option>
                    }
                  </select>
                </td>
                <td>
                  <textarea
                    class="form-control"
                    name="detecteursPonctuelsComment"
                    id="field_detecteursPonctuelsComment"
                    data-cy="detecteursPonctuelsComment"
                    formControlName="detecteursPonctuelsComment"
                  ></textarea>
                </td>
              </tr>
              <tr>
                <td>
                  <p class="fw-bold text-decoration-underline">Déclencheurs manuels (50% à chaque visite):<br /></p>
                  <ul>
                    <li>Contrôle de l’état.</li>
                    <li>Essai fonctionnel.</li>
                  </ul>
                </td>
                <td>
                  <select
                    class="form-control"
                    name="declencheurManuelsTaskStatus"
                    formControlName="declencheurManuelsTaskStatus"
                    id="field_declencheurManuelsTaskStatus"
                    data-cy="declencheurManuelsTaskStatus"
                  >
                    <option [ngValue]="null">{{ 'stockProjectApp.TaskStatus.null' | translate }}</option>
                    @for (taskStatus of taskStatusValues; track $index) {
                      <option [value]="taskStatus">{{ 'stockProjectApp.TaskStatus.' + taskStatus | translate }}</option>
                    }
                  </select>
                </td>
                <td>
                  <textarea
                    class="form-control"
                    name="declencheurManuelsComment"
                    id="field_declencheurManuelsComment"
                    data-cy="declencheurManuelsComment"
                    formControlName="declencheurManuelsComment"
                  ></textarea>
                </td>
              </tr>
              <tr>
                <td colspan="3" style="text-align: center">Système de mise en sécurité incendie (SMSI)</td>
              </tr>
              <tr>
                <td>
                  <p class="fw-bold text-decoration-underline">Tableau de mise en sécurité incendie (100% à chaque visite)<br /></p>
                  <ul>
                    <li>Contrôle des tensions élémentaires et des protections</li>
                    <li>Contrôle des connexions.</li>
                    <li>Contrôle de la charge des batteries.</li>
                  </ul>
                </td>
                <td>
                  <select
                    class="form-control"
                    name="tableMiseSecurityIncendieTaskStatus"
                    formControlName="tableMiseSecurityIncendieTaskStatus"
                    id="field_tableMiseSecurityIncendieTaskStatus"
                    data-cy="tableMiseSecurityIncendieTaskStatus"
                  >
                    <option [ngValue]="null">{{ 'stockProjectApp.TaskStatus.null' | translate }}</option>
                    @for (taskStatus of taskStatusValues; track $index) {
                      <option [value]="taskStatus">{{ 'stockProjectApp.TaskStatus.' + taskStatus | translate }}</option>
                    }
                  </select>
                </td>
                <td>
                  <textarea
                    class="form-control"
                    name="tableMiseSecurityIncendieComment"
                    id="field_tableMiseSecurityIncendieComment"
                    data-cy="tableMiseSecurityIncendieComment"
                    formControlName="tableMiseSecurityIncendieComment"
                  ></textarea>
                </td>
              </tr>
              <tr>
                <td>
                  <p class="fw-bold text-decoration-underline">Alimentation de secours (100% à chaque visite):<br /></p>
                  <ul>
                    <li>Contrôle de la charge des batteries, nettoyage des cosses</li>
                    <li>Mise en fonctionnement en secours (coupant la source principale).</li>
                    <li>Contrôle des tensions</li>
                    <li>Remise en fonctionnement marche normale.</li>
                  </ul>
                </td>
                <td>
                  <select
                    class="form-control"
                    name="alimentationSecoursTaskStatus"
                    formControlName="alimentationSecoursTaskStatus"
                    id="field_alimentationSecoursTaskStatus"
                    data-cy="alimentationSecoursTaskStatus"
                  >
                    <option [ngValue]="null">{{ 'stockProjectApp.TaskStatus.null' | translate }}</option>
                    @for (taskStatus of taskStatusValues; track $index) {
                      <option [value]="taskStatus">{{ 'stockProjectApp.TaskStatus.' + taskStatus | translate }}</option>
                    }
                  </select>
                </td>
                <td>
                  <textarea
                    class="form-control"
                    name="alimentationSecoursComment"
                    id="field_alimentationSecoursComment"
                    data-cy="alimentationSecoursComment"
                    formControlName="alimentationSecoursComment"
                  ></textarea>
                </td>
              </tr>
              <tr>
                <td>
                  <p class="fw-bold text-decoration-underline">Equipement d’alarme : (100% à chaque visite):<br /></p>
                  <ul>
                    <li>Contrôle visuellement l’état de chaque diffuseur <br />sonore pour la zone d’évacuation</li>
                    <li>Essai de fonctionnement (Audibilité à chaque point <br />du site ou partie concernée).</li>
                  </ul>
                </td>
                <td>
                  <select
                    class="form-control"
                    name="equipementAlarmeTaskStatus"
                    formControlName="equipementAlarmeTaskStatus"
                    id="field_equipementAlarmeTaskStatus"
                    data-cy="equipementAlarmeTaskStatus"
                  >
                    <option [ngValue]="null">{{ 'stockProjectApp.TaskStatus.null' | translate }}</option>
                    @for (taskStatus of taskStatusValues; track $index) {
                      <option [value]="taskStatus">{{ 'stockProjectApp.TaskStatus.' + taskStatus | translate }}</option>
                    }
                  </select>
                </td>
                <td>
                  <textarea
                    class="form-control"
                    name="equipementAlarmeComment"
                    id="field_equipementAlarmeComment"
                    data-cy="equipementAlarmeComment"
                    formControlName="equipementAlarmeComment"
                  ></textarea>
                </td>
              </tr>
              <tr>
                <td>
                  <p class="fw-bold text-decoration-underline">
                    Dispositifs actionnés de sécurité (DAS) (100% à chaque visite, selon<br />
                    NFS et sous responsabilité client)<br />
                  </p>
                  <ul>
                    <li>Essai des fonctions et des DAS</li>
                  </ul>
                </td>
                <td>
                  <select
                    class="form-control"
                    name="dasTaskStatus"
                    formControlName="dasTaskStatus"
                    id="field_dasTaskStatus"
                    data-cy="dasTaskStatus"
                  >
                    <option [ngValue]="null">{{ 'stockProjectApp.TaskStatus.null' | translate }}</option>
                    @for (taskStatus of taskStatusValues; track $index) {
                      <option [value]="taskStatus">{{ 'stockProjectApp.TaskStatus.' + taskStatus | translate }}</option>
                    }
                  </select>
                </td>
                <td>
                  <textarea
                    class="form-control"
                    name="dasComment"
                    id="field_dasComment"
                    data-cy="dasComment"
                    formControlName="dasComment"
                  ></textarea>
                </td>
              </tr>
              <tr>
                <td>
                  <p class="fw-bold text-decoration-underline">
                    Arrêts techniques (100% à chaque visite,<br />
                    selon NFS et sous responsabilité client)<br />
                  </p>
                  <ul>
                    <li>
                      Essai des commandes (climatisation, énergie, ventilation,<br />
                      Sonorisation, etc…)
                    </li>
                  </ul>
                </td>
                <td>
                  <select
                    class="form-control"
                    name="arretTechniqueTaskStatus"
                    formControlName="arretTechniqueTaskStatus"
                    id="field_arretTechniqueTaskStatus"
                    data-cy="arretTechniqueTaskStatus"
                  >
                    <option [ngValue]="null">{{ 'stockProjectApp.TaskStatus.null' | translate }}</option>
                    @for (taskStatus of taskStatusValues; track $index) {
                      <option [value]="taskStatus">{{ 'stockProjectApp.TaskStatus.' + taskStatus | translate }}</option>
                    }
                  </select>
                </td>
                <td>
                  <textarea
                    class="form-control"
                    name="arretTechniqueComment"
                    id="field_arretTechniqueComment"
                    data-cy="arretTechniqueComment"
                    formControlName="arretTechniqueComment"
                  ></textarea>
                </td>
              </tr>
              <tr>
                <td colspan="3" style="text-align: center">Unité d’aide à l’exploitation (UAE)</td>
              </tr>
              <tr>
                <td>
                  <p class="fw-bold text-decoration-underline">Baie au PCS (100% à chaque visite)<br /></p>
                  <ul>
                    <li>Contrôle de la 3ème source</li>
                    <li>Contrôle par prélèvement de la cohérence entre l’évènement <br />et l’événement et l’affichage.</li>
                    <li>
                      Contrôle des dérangements du réseau CDI et CMSI en débranchant<br />
                      les câbles réseaux.
                    </li>
                  </ul>
                </td>
                <td>
                  <select
                    class="form-control"
                    name="baiePcsTaskStatus"
                    formControlName="baiePcsTaskStatus"
                    id="field_baiePcsTaskStatus"
                    data-cy="baiePcsTaskStatus"
                  >
                    <option [ngValue]="null">{{ 'stockProjectApp.TaskStatus.null' | translate }}</option>
                    @for (taskStatus of taskStatusValues; track $index) {
                      <option [value]="taskStatus">{{ 'stockProjectApp.TaskStatus.' + taskStatus | translate }}</option>
                    }
                  </select>
                </td>
                <td>
                  <textarea
                    class="form-control"
                    name="baiePCScomment"
                    id="field_baiePCScomment"
                    data-cy="baiePCScomment"
                    formControlName="baiePCScomment"
                  ></textarea>
                </td>
              </tr>
              <tr>
                <td>
                  <p class="fw-bold text-decoration-underline">Superviseur (100% à chaque visite)<br /></p>
                  <ul>
                    <li>Contrôle de la fonctionnalité du système de supervision</li>
                    <li>
                      Vérification de la sécurisation du PC (non- accès au menu<br />
                      démarrer ; non-accès au bureau Windows)
                    </li>
                    <li>Contrôle de la communication entre le superviseur et les <br />équipements supervisées</li>
                    <li>
                      Vérification de la qualité de communication avec les <br />centrales (taux d’erreurs de communication ; temps de cycle
                      d’interrogation)
                    </li>
                    <li>Contrôle par prélèvements de la cohérence entre <br />l’événement et l’affichage</li>
                    <li>
                      Vérification du bon fonctionnement du superviseur <br />( passage de commandes mise en / hors service du point su
                      chaque centrale).
                    </li>
                  </ul>
                </td>
                <td>
                  <select
                    class="form-control"
                    name="superviseurTaskStatus"
                    formControlName="superviseurTaskStatus"
                    id="field_superviseurTaskStatus"
                    data-cy="superviseurTaskStatus"
                  >
                    <option [ngValue]="null">{{ 'stockProjectApp.TaskStatus.null' | translate }}</option>
                    @for (taskStatus of taskStatusValues; track $index) {
                      <option [value]="taskStatus">{{ 'stockProjectApp.TaskStatus.' + taskStatus | translate }}</option>
                    }
                  </select>
                </td>
                <td>
                  <textarea
                    class="form-control"
                    name="superviseurComment"
                    id="field_superviseurComment"
                    data-cy="superviseurComment"
                    formControlName="superviseurComment"
                  ></textarea>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Annuler</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Sauvegarder</span>
        </button>
      </div>
    </form>
  </div>
</div>
