<div class="d-flex justify-content-center" style="font-family: 'Sora', sans-serif">
  <div class="col-8">
    @if (checkList()) {
      <div>
        <h2 data-cy="checkListDetailsHeading"><span>Check Liste Maintenance Préventive</span></h2>

        <hr />

        <jhi-alert-error></jhi-alert-error>

        <jhi-alert></jhi-alert>

        <dl class="row-md jh-entity-details">
          <dt><span jhiTranslate="stockProjectApp.checkList.client">Client</span></dt>
          <dd>
            <span>{{ checkList()!.client }}</span>
          </dd>
          <dt><span jhiTranslate="stockProjectApp.checkList.contractNumber">Contract Number</span></dt>
          <dd>
            <span>{{ checkList()!.contractNumber }}</span>
          </dd>
          <dt><span jhiTranslate="stockProjectApp.checkList.adress">Adress</span></dt>
          <dd>
            <span>{{ checkList()!.adress }}</span>
          </dd>
          <dt><span jhiTranslate="stockProjectApp.checkList.technicienDef">Technicien Def</span></dt>
          <dd>
            <span>{{ checkList()!.technicienDef }}</span>
          </dd>
          <dt><span jhiTranslate="stockProjectApp.checkList.date">Date</span></dt>
          <dd>
            <span>{{ checkList()!.date | formatMediumDatetime }}</span>
          </dd>
        </dl>
        <table class="table-bordered">
          <thead>
            <tr>
              <th>Taches à effectuer</th>
              <th>Status</th>
              <th>Commentaire</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td colspan="3" style="text-align: center">Système de détection incendie (SDI)</td>
            </tr>
            <tr>
              <td>
                <p class="fw-bold text-decoration-underline">Tableau de détection incendie 100% à chaque visite:<br /></p>
                <ul>
                  <li>Contrôle des tensions élémentaires et des protections</li>
                  <li>Contrôle des connexions</li>
                  <li>Contrôle de la 3ème source</li>
                  <li>Contrôle des fonctions d’exploitation</li>
                  <li>Contrôle de la charge des batteries</li>
                </ul>
              </td>
              <td>
                <dd>
                  <span [jhiTranslate]="'stockProjectApp.TaskStatus.' + (checkList()!.tableDetectionTaskStatus ?? 'null')">{{
                    { null: '', INSPECTED: 'INSPECTED', REPAIRED: 'REPAIRED', PRD: 'PRD' }[checkList()!.tableDetectionTaskStatus ?? 'null']
                  }}</span>
                </dd>
              </td>
              <td>
                <dd>
                  <span>{{ checkList()!.tableDetectionComment }}</span>
                </dd>
              </td>
            </tr>
            <tr>
              <td>
                <p class="fw-bold text-decoration-underline">Boucles (DI/DM) 100% à chaque visite :<br /></p>
                <ul>
                  <li>Contrôle de l’état des lignes des détecteurs par OCT.</li>
                  <li>Essai sur le dérangement de chaque boucle en <br />débranchant successivement un détecteur, un fil</li>
                </ul>
              </td>
              <td>
                <dd>
                  <span [jhiTranslate]="'stockProjectApp.TaskStatus.' + (checkList()!.diDMTaskStatus ?? 'null')">{{
                    { null: '', INSPECTED: 'INSPECTED', REPAIRED: 'REPAIRED', PRD: 'PRD' }[checkList()!.diDMTaskStatus ?? 'null']
                  }}</span>
                </dd>
              </td>
              <td>
                <dd>
                  <span>{{ checkList()!.diDMComment }}</span>
                </dd>
              </td>
            </tr>
            <tr>
              <td>
                <p class="fw-bold text-decoration-underline">Détecteurs ponctuels : (50% de chaque zone à chaque visite).<br /></p>
                <ul>
                  <li>Essais sur les lignes avec un générateur adapté (bombe aérosol …)</li>
                </ul>
              </td>
              <td>
                <dd>
                  <span [jhiTranslate]="'stockProjectApp.TaskStatus.' + (checkList()!.detecteursPonctuelsTaskStatus ?? 'null')">{{
                    { null: '', INSPECTED: 'INSPECTED', REPAIRED: 'REPAIRED', PRD: 'PRD' }[
                      checkList()!.detecteursPonctuelsTaskStatus ?? 'null'
                    ]
                  }}</span>
                </dd>
              </td>
              <td>
                <dd>
                  <span>{{ checkList()!.detecteursPonctuelsComment }}</span>
                </dd>
              </td>
            </tr>
            <tr>
              <td>
                <p class="fw-bold text-decoration-underline">Déclencheurs manuels (50% à chaque visite):<br /></p>
                <ul>
                  <li>Contrôle de l’état.</li>
                  <li>Essai fonctionnel.</li>
                </ul>
              </td>
              <td>
                <dd>
                  <span [jhiTranslate]="'stockProjectApp.TaskStatus.' + (checkList()!.declencheurManuelsTaskStatus ?? 'null')">{{
                    { null: '', INSPECTED: 'INSPECTED', REPAIRED: 'REPAIRED', PRD: 'PRD' }[
                      checkList()!.declencheurManuelsTaskStatus ?? 'null'
                    ]
                  }}</span>
                </dd>
              </td>
              <td>
                <dd>
                  <span>{{ checkList()!.declencheurManuelsComment }}</span>
                </dd>
              </td>
            </tr>
            <tr>
              <td colspan="3" style="text-align: center">Système de mise en sécurité incendie (SMSI)</td>
            </tr>
            <tr>
              <td>
                <p class="fw-bold text-decoration-underline">Tableau de mise en sécurité incendie (100% à chaque visite)<br /></p>
                <ul>
                  <li>Contrôle des tensions élémentaires et des protections</li>
                  <li>Contrôle des connexions.</li>
                  <li>Contrôle de la charge des batteries.</li>
                </ul>
              </td>
              <td>
                <dd>
                  <span [jhiTranslate]="'stockProjectApp.TaskStatus.' + (checkList()!.tableMiseSecurityIncendieTaskStatus ?? 'null')">{{
                    { null: '', INSPECTED: 'INSPECTED', REPAIRED: 'REPAIRED', PRD: 'PRD' }[
                      checkList()!.tableMiseSecurityIncendieTaskStatus ?? 'null'
                    ]
                  }}</span>
                </dd>
              </td>
              <td>
                <dd>
                  <span>{{ checkList()!.tableMiseSecurityIncendieComment }}</span>
                </dd>
              </td>
            </tr>
            <tr>
              <td>
                <p class="fw-bold text-decoration-underline">Alimentation de secours (100% à chaque visite):<br /></p>
                <ul>
                  <li>Contrôle de la charge des batteries, nettoyage des cosses</li>
                  <li>Mise en fonctionnement en secours (coupant la source principale).</li>
                  <li>Contrôle des tensions</li>
                  <li>Remise en fonctionnement marche normale.</li>
                </ul>
              </td>
              <td>
                <dd>
                  <span [jhiTranslate]="'stockProjectApp.TaskStatus.' + (checkList()!.alimentationSecoursTaskStatus ?? 'null')">{{
                    { null: '', INSPECTED: 'INSPECTED', REPAIRED: 'REPAIRED', PRD: 'PRD' }[
                      checkList()!.alimentationSecoursTaskStatus ?? 'null'
                    ]
                  }}</span>
                </dd>
              </td>
              <td>
                <dd>
                  <span>{{ checkList()!.alimentationSecoursComment }}</span>
                </dd>
              </td>
            </tr>
            <tr>
              <td>
                <p class="fw-bold text-decoration-underline">Equipement d’alarme : (100% à chaque visite):<br /></p>
                <ul>
                  <li>Contrôle visuellement l’état de chaque diffuseur <br />sonore pour la zone d’évacuation</li>
                  <li>Essai de fonctionnement (Audibilité à chaque point <br />du site ou partie concernée).</li>
                </ul>
              </td>
              <td>
                <dd>
                  <span [jhiTranslate]="'stockProjectApp.TaskStatus.' + (checkList()!.equipementAlarmeTaskStatus ?? 'null')">{{
                    { null: '', INSPECTED: 'INSPECTED', REPAIRED: 'REPAIRED', PRD: 'PRD' }[
                      checkList()!.equipementAlarmeTaskStatus ?? 'null'
                    ]
                  }}</span>
                </dd>
              </td>
              <td>
                <dd>
                  <span>{{ checkList()!.equipementAlarmeComment }}</span>
                </dd>
              </td>
            </tr>
            <tr>
              <td>
                <p class="fw-bold text-decoration-underline">
                  Dispositifs actionnés de sécurité (DAS) (100% à chaque visite, selon<br />
                  NFS et sous responsabilité client)<br />
                </p>
                <ul>
                  <li>Essai des fonctions et des DAS</li>
                </ul>
              </td>
              <td>
                <dd>
                  <span [jhiTranslate]="'stockProjectApp.TaskStatus.' + (checkList()!.dasTaskStatus ?? 'null')">{{
                    { null: '', INSPECTED: 'INSPECTED', REPAIRED: 'REPAIRED', PRD: 'PRD' }[checkList()!.dasTaskStatus ?? 'null']
                  }}</span>
                </dd>
              </td>
              <td>
                <dd>
                  <span>{{ checkList()!.dasComment }}</span>
                </dd>
              </td>
            </tr>
            <tr>
              <td>
                <p class="fw-bold text-decoration-underline">
                  Arrêts techniques (100% à chaque visite,<br />
                  selon NFS et sous responsabilité client)<br />
                </p>
                <ul>
                  <li>
                    Essai des commandes (climatisation, énergie, ventilation,<br />
                    Sonorisation, etc…)
                  </li>
                </ul>
              </td>
              <td>
                <dd>
                  <span [jhiTranslate]="'stockProjectApp.TaskStatus.' + (checkList()!.arretTechniqueTaskStatus ?? 'null')">{{
                    { null: '', INSPECTED: 'INSPECTED', REPAIRED: 'REPAIRED', PRD: 'PRD' }[checkList()!.arretTechniqueTaskStatus ?? 'null']
                  }}</span>
                </dd>
              </td>
              <td>
                <dd>
                  <span>{{ checkList()!.arretTechniqueComment }}</span>
                </dd>
              </td>
            </tr>
            <tr>
              <td colspan="3" style="text-align: center">Unité d’aide à l’exploitation (UAE)</td>
            </tr>
            <tr>
              <td>
                <p class="fw-bold text-decoration-underline">Baie au PCS (100% à chaque visite)<br /></p>
                <ul>
                  <li>Contrôle de la 3ème source</li>
                  <li>Contrôle par prélèvement de la cohérence entre l’évènement <br />et l’événement et l’affichage.</li>
                  <li>
                    Contrôle des dérangements du réseau CDI et CMSI en débranchant<br />
                    les câbles réseaux.
                  </li>
                </ul>
              </td>
              <td>
                <dd>
                  <span [jhiTranslate]="'stockProjectApp.TaskStatus.' + (checkList()!.baiePcsTaskStatus ?? 'null')">{{
                    { null: '', INSPECTED: 'INSPECTED', REPAIRED: 'REPAIRED', PRD: 'PRD' }[checkList()!.baiePcsTaskStatus ?? 'null']
                  }}</span>
                </dd>
              </td>
              <td>
                <dd>
                  <span>{{ checkList()!.baiePCScomment }}</span>
                </dd>
              </td>
            </tr>
            <tr>
              <td>
                <p class="fw-bold text-decoration-underline">Superviseur (100% à chaque visite)<br /></p>
                <ul>
                  <li>Contrôle de la fonctionnalité du système de supervision</li>
                  <li>
                    Vérification de la sécurisation du PC (non- accès au menu<br />
                    démarrer ; non-accès au bureau Windows)
                  </li>
                  <li>Contrôle de la communication entre le superviseur et les <br />équipements supervisées</li>
                  <li>
                    Vérification de la qualité de communication avec les <br />centrales (taux d’erreurs de communication ; temps de cycle
                    d’interrogation)
                  </li>
                  <li>Contrôle par prélèvements de la cohérence entre <br />l’événement et l’affichage</li>
                  <li>
                    Vérification du bon fonctionnement du superviseur <br />( passage de commandes mise en / hors service du point su chaque
                    centrale).
                  </li>
                </ul>
              </td>
              <td>
                <dd>
                  <span [jhiTranslate]="'stockProjectApp.TaskStatus.' + (checkList()!.superviseurTaskStatus ?? 'null')">{{
                    { null: '', INSPECTED: 'INSPECTED', REPAIRED: 'REPAIRED', PRD: 'PRD' }[checkList()!.superviseurTaskStatus ?? 'null']
                  }}</span>
                </dd>
              </td>
              <td>
                <dd>
                  <span>{{ checkList()!.superviseurComment }}</span>
                </dd>
              </td>
            </tr>
          </tbody>
        </table>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Retour</span>
        </button>

        <button type="button" [routerLink]="['/check-list', checkList()!.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Editer</span>
        </button>
      </div>
    }
  </div>
</div>
