<div class="cover">
  <img class="hipster" />
  <div class="cover-text">
    <h1 class="display-6 font-weight-bold" style="color: #013366 !important; font-size: 4rem">
      Welcome To Our<br />
      Stock Management<br />
      System
    </h1>
    <button type="button" class="btn font-weight-bold btn-xlg btn btn-outline-dark">Learn more</button>
  </div>
</div>

<section style="background-color: #f7f7f2; font-family: 'Sora', sans-serif">
  <div class="container" style="padding-top: 10rem">
    <h1>Our entreprise Solution</h1>

    <div class="d-flex justify-content-center flex-container" style="padding-top: 5rem; flex-wrap: wrap">
      <div
        class="card"
        style="width: 18rem; padding-top: 2rem; border-radius: 20px; border: none; text-align: center; margin-bottom: 5rem; height: 20rem"
      >
        <h6>Systèmes de Sécurité Incendie et mise en sécurité</h6>
        <div class="card-body">
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
      </div>
      <div
        class="card"
        style="
          width: 18rem;
          padding-top: 2rem;
          margin: 0 5rem 5rem 5rem;
          height: 20rem;
          border-radius: 20px;
          border: none;
          text-align: center;
        "
      >
        <h6>Systèmes d’Extinction Incendie</h6>
        <div class="card-body">
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
      </div>
      <div
        class="card"
        style="width: 18rem; padding-top: 2rem; border-radius: 20px; border: none; text-align: center; margin-bottom: 5rem; height: 20rem"
      >
        <h6>Système de Supervision</h6>
        <div class="card-body">
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
      </div>
    </div>
  </div>
</section>

<section style="background-color: #f7f7f2; font-family: 'Sora', sans-serif">
  <div class="row" style="padding-top: 4rem; text-align: center">
    <div class="col" style="text-align: center; margin: 10rem 5rem 5rem 5rem">
      <h1 style="margin-bottom: 3rem">About DEF</h1>
      <p>
        Entreprise française et indépendante, DEF est guidée par une vision qui lui est propre : agir en entreprise à développement durable,
        en se consacrant avec responsabilité et fidélité depuis 1958 à son cœur de métier, la sécurité incendie.
      </p>
    </div>
    <div class="col" style="margin: 5rem">
      <img ngSrc="content/images/AboutSectionImage.png" height="554" width="695" alt="about section image" />
    </div>
  </div>
</section>
<!--contact us section-->
<section style="background-color: #f7f7f2; font-family: 'Sora', sans-serif; color: #013366">
  <div class="container row" style="padding-top: 4rem">
    <div class="col-md-6" style="margin-top: 5rem; text-align: center">
      <div class="row container" style="margin-bottom: 5rem">
        <fa-icon class="col" style="text-align: right" icon="location-dot" size="3x"></fa-icon>
        <div class="col" style="text-align: left">
          <h5 class="col">Our location</h5>
          <h6>info 1</h6>
          <h6>info 2</h6>
          <h6>info 3</h6>
        </div>
      </div>
      <div class="row container">
        <fa-icon class="col" style="text-align: right" icon="envelope" size="3x"></fa-icon>

        <div class="col" style="text-align: left">
          <h5>How can we help you?</h5>
          <h6>info 1</h6>
          <h6>info 2</h6>
          <h6>info 3</h6>
        </div>
      </div>
    </div>
    <div class="col-md-6 border border-light shadow p-3 mb-5 bg-white rounded">
      <h4 class="mt mt-3" style="font-weight: bolder">Send Us message</h4>
      <form>
        <div class="form-group">
          <label for="exampleInputEmail1">Email address</label>
          <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email" />
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1">Password</label>
          <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password" />
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1">Phone Number</label>
          <input type="number" class="form-control" id="exemplePhoneNumber" placeholder="phone Number" />
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1">Message</label>
          <input type="week" class="form-control" id="exempleMessage" placeholder="phone Number" />
        </div>

        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>
  </div>
</section>
