<div>
  <h2 id="page-heading" data-cy="DemandHeading">
    <span jhiTranslate="stockProjectApp.demand.home.title">Demands</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [animation]="isLoading ? 'spin' : undefined"></fa-icon>
        <span jhiTranslate="stockProjectApp.demand.home.refreshListLabel">Actualiser la liste</span>
      </button>

      <button
        *jhiHasAnyAuthority="['ROLE_ADMIN', 'ROLE_BUSINESS_MANAGER', 'ROLE_USER']"
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-demand"
        [routerLink]="['/demand/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span class="hidden-sm-down" jhiTranslate="stockProjectApp.demand.home.createLabel">Créer un nouveau Demand</span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <form name="searchForm" class="row row-cols-sm-auto align-items-center">
    <div class="col-sm-12">
      <div class="input-group w-100 mt-3">
        <label class="visually-hidden" for="currentSearch" jhiTranslate="stockProjectApp.demand.home.search">Recherche pour Demand</label>
        <input
          type="text"
          class="form-control"
          [(ngModel)]="currentSearch"
          id="currentSearch"
          name="currentSearch"
          placeholder="{{ 'stockProjectApp.demand.home.search' | translate }}"
        />

        <button class="btn btn-info" (click)="search(currentSearch)">
          <fa-icon icon="search"></fa-icon>
        </button>

        @if (currentSearch) {
          <button class="btn btn-danger" (click)="search('')">
            <fa-icon icon="trash-alt"></fa-icon>
          </button>
        }
      </div>
    </div>
  </form>

  <jhi-filter [filters]="filters"></jhi-filter>

  @if (demands?.length === 0) {
    <div class="alert alert-warning" id="no-result">
      <span jhiTranslate="stockProjectApp.demand.home.notFound">Aucun Demand trouvé</span>
    </div>
  }

  @if (demands && demands.length > 0) {
    <div class="table-responsive table-entities" id="entities">
      <table class="table table-striped" aria-describedby="page-heading">
        <thead>
          <tr jhiSort [sortState]="sortState" (sortChange)="navigateToWithComponentValues($event)">
            <th scope="col" jhiSortBy="id">
              <div class="d-flex">
                <span jhiTranslate="global.field.id">ID</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="qT">
              <div class="d-flex">
                <span jhiTranslate="stockProjectApp.demand.qT">Q T</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="demandBy">
              <div class="d-flex">
                <span jhiTranslate="stockProjectApp.demand.demandBy">Demand By</span>
                @if (!currentSearch) {
                  <fa-icon class="p-1" icon="sort"></fa-icon>
                }
              </div>
            </th>
            <th scope="col" jhiSortBy="demandDate">
              <div class="d-flex">
                <span jhiTranslate="stockProjectApp.demand.demandDate">Demand Date</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="status">
              <div class="d-flex">
                <span jhiTranslate="stockProjectApp.demand.status">Status</span>
                @if (!currentSearch) {
                  <fa-icon class="p-1" icon="sort"></fa-icon>
                }
              </div>
            </th>
            <th scope="col" jhiSortBy="name.name">
              <div class="d-flex">
                <span jhiTranslate="stockProjectApp.demand.name">Name</span>
                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          @for (demand of demands; track trackId) {
            <tr data-cy="entityTable">
              <td>
                <a [routerLink]="['/demand', demand.id, 'view']">{{ demand.id }}</a>
              </td>
              <td>{{ demand.qT }}</td>
              <td>{{ demand.demandBy }}</td>
              <td>{{ demand.demandDate | formatMediumDatetime }}</td>
              <td [jhiTranslate]="'stockProjectApp.Status.' + (demand.status ?? 'null')">
                {{ { null: '', APPROVED: 'APPROVED', REJECTED: 'REJECTED', IN_PROGRESS: 'IN_PROGRESS' }[demand.status ?? 'null'] }}
              </td>
              <td>
                @if (demand.name) {
                  <div>
                    <a [routerLink]="['/product', demand.name.id, 'view']">{{ demand.name.name }}</a>
                  </div>
                }
              </td>

              <td class="text-end">
                <div class="btn-group">
                  @if (demand.status === Status.IN_PROGRESS) {
                    <a class="btn btn-danger btn-sm" data-cy="entityDetailsButton" (click)="setAccept(demand, false)">
                      <fa-icon icon="xmark"></fa-icon>
                      <span class="d-none d-md-inline">Reject</span>
                    </a>
                    <a class="btn btn-success btn-sm" data-cy="entityDetailsButton" (click)="setAccept(demand, true)">
                      <fa-icon icon="check"></fa-icon>
                      <span class="d-none d-md-inline">Accept</span>
                    </a>
                  }

                  <a [routerLink]="['/demand', demand.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                    <fa-icon icon="eye"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.view">Voir</span>
                  </a>

                  <a [routerLink]="['/demand', demand.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                    <fa-icon icon="pencil-alt"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Editer</span>
                  </a>

                  <button type="submit" (click)="delete(demand)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                    <fa-icon icon="times"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Supprimer</span>
                  </button>
                </div>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  }
  @if (demands && demands.length > 0) {
    <div>
      <div class="d-flex justify-content-center">
        <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
      </div>

      <div class="d-flex justify-content-center">
        <ngb-pagination
          [collectionSize]="totalItems"
          [page]="page"
          [pageSize]="itemsPerPage"
          [maxSize]="5"
          [rotate]="true"
          [boundaryLinks]="true"
          (pageChange)="navigateToPage($event)"
        ></ngb-pagination>
      </div>
    </div>
  }
</div>
